.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.cdk-drag-placeholder {
  opacity: 0;
}

.todo-box {
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  text-align: left;
  box-sizing: border-box;
  cursor: move;
  background: azure;
  font-size: 20px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
}

.todo-list {
  width: 750px;
  max-width: 100%;
  min-height: 60px;
  border-radius: 4px;
  overflow-wrap: break-word;
  position: center;
}

.todo-detail {
  width: 185px;
  max-width: 200px;
  margin-left: 10px;
  word-wrap: break-word;
}

.remove-button {
  max-height: 35px;
  margin-left: 430px;
  position: absolute;
}


